#list{
    float: left;
    border-radius: 50px;
    background-color: lemonchiffon;
    margin-bottom: 100px;
}
li{
    list-style: none;
}
#list ul{
    text-align: center;
    padding: 5px;
}
#list ul li{
    margin-top: 5px;
    padding: 5px;
}
#list button{
    border: none;
    margin: 0;
 }
