#list{
    float: left;
    border-radius: 50px;
    background-color: lemonchiffon;
    margin-right: 20px;
    margin-bottom: 100px;
}
li{
    list-style: none;
}
#list ul{
    text-align: center;
    padding: 5px;
}
#list ul li{
    margin-top: 5px;
    padding: 5px;
}
#list a{
    color:olive;
 }

.AllBeersInStore {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.beerDisplay {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    margin : 5px;
    text-align: center;
}