.linkToButton{
    text-align: center;
    display: block;
    width: 100px;
    margin: auto;
    padding: 7px;
    background-color: lemonchiffon;
    color: olive;
    border-radius: 10px;
    font-size: 85%;
    font-weight: bold;
}
#form{
    width:300px;
    margin: auto;
}
form{
    margin-top:50px;
    margin-bottom:5px;
}
input{
    margin: 10px;
}
#buttonForm{
    width: 100px;
    margin: 0 auto;
}