#menu{
    margin-bottom: 30px;
    height:30px;
    background-color: lemonchiffon;
    color: olive;
}
#menu ul {
    padding: 0;
    margin: 0;
    height:5px;
    list-style-type:none;
    text-align:center;
}
#menu li {
    float: left;
    margin:5px;
    background-color: lemonchiffon;
}
#menu button {
    display:block;
    width:200px;
    color:olive;
    border: none;
    background-color: lemonchiffon;
}
#category{
    margin:0 auto;
    width:840px;
}
#list{
    float: left;
}

.AllBeersInStore {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.beerDisplay {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    margin : 5px;
    text-align: center;
}