#menu{
    height:30px;
    background-color: lemonchiffon;
    color: olive;
}
#menu ul {
    padding: 0;
    margin: 0;
    height:5px;
    list-style-type:none;
    text-align:center;
}
#menu li {
    float: left;
    margin:5px;
    background-color: lemonchiffon;
}
#menu a {
    display:block;
    width:200px;
    color:olive;
}
#menu ul li ul {
    text-align: left;
    display:none;
}
#menu ul li ul a {
    background-color: lemonchiffon;
    min-width: 190px;
    width:auto;
    padding: 5px;
}
#menu ul li:hover ul {
    display:block;
}
#menu li:hover ul li {
    margin: 0px;
    float:none;
}
#menu li ul {
    position:absolute;
}
#category{
    margin:0 auto;
    width:840px;
}