#form{
    width:600px;
    margin: auto;
}
input{
    margin: 5px;
}
.petitChamp{
    width: 75px;
}
form select{
    width: 200px;
}
#buttonForm{
    width: 100px;
    margin: 0 auto;
}
h4{
    text-align: center;
}